In [2]:
import pandas as pd

In [3]:
Olink_df = pd.read_csv("../Data/Olink.csv")

In [4]:
Olink_df['olink_instance_0.eid'] = Olink_df['olink_instance_0.eid'].astype(str)

In [5]:
Olink_df.head(2)

,olink_instance_0.eid,olink_instance_0.a1bg,olink_instance_0.aamdc,olink_instance_0.aarsd1,olink_instance_0.abca2,olink_instance_0.abhd14b,olink_instance_0.abl1,olink_instance_0.abo,olink_instance_0.abraxas2,olink_instance_0.acaa1,...,olink_instance_0.zfyve19,olink_instance_0.zhx2,olink_instance_0.znf174,olink_instance_0.znf75d,olink_instance_0.znf830,olink_instance_0.znrd2,olink_instance_0.znrf4,olink_instance_0.zp3,olink_instance_0.zp4,olink_instance_0.zpr1
0,1002133,0.0957,0.59795,1.33215,-0.6441,0.76325,0.3784,0.5446,0.4682,0.21920,...,-0.2728,0.1954,-0.2586,-0.0127,0.0235,-0.26245,-0.1236,-6.0773,-0.0136,0.4131
1,1002201,-0.0473,0.39585,0.26585,0.0604,1.07765,1.3977,0.5830,1.0740,0.75625,...,0.9153,-0.0274,-0.3048,-0.8814,-0.5342,1.12255,-0.5537,-5.1443,-0.1713,-0.5605

In [6]:
Olink_df = Olink_df.rename(columns={'olink_instance_0.eid': 'eid'})

In [7]:
Olink_df.head(4)

,eid,olink_instance_0.a1bg,olink_instance_0.aamdc,olink_instance_0.aarsd1,olink_instance_0.abca2,olink_instance_0.abhd14b,olink_instance_0.abl1,olink_instance_0.abo,olink_instance_0.abraxas2,olink_instance_0.acaa1,...,olink_instance_0.zfyve19,olink_instance_0.zhx2,olink_instance_0.znf174,olink_instance_0.znf75d,olink_instance_0.znf830,olink_instance_0.znrd2,olink_instance_0.znrf4,olink_instance_0.zp3,olink_instance_0.zp4,olink_instance_0.zpr1
0,1002133,0.0957,0.59795,1.33215,-0.6441,0.76325,0.3784,0.5446,0.4682,0.21920,...,-0.2728,0.1954,-0.2586,-0.0127,0.02350,-0.26245,-0.1236,-6.0773,-0.0136,0.4131
1,1002201,-0.0473,0.39585,0.26585,0.0604,1.07765,1.3977,0.5830,1.0740,0.75625,...,0.9153,-0.0274,-0.3048,-0.8814,-0.53420,1.12255,-0.5537,-5.1443,-0.1713,-0.5605
2,1002534,-0.2239,-0.04545,-0.07580,0.2499,-0.48380,0.4578,-0.0678,-0.1641,-0.29010,...,-0.8164,0.2514,0.4768,-0.4894,-0.21715,0.00550,-0.0715,-5.9309,-0.2436,-0.4368
3,1003548,0.0255,NaN,NaN,NaN,NaN,NaN,-0.2824,NaN,NaN,...,1.1505,0.1681,0.2402,NaN,0.42805,0.55870,0.4882,NaN,-0.0600,0.7822

In [8]:
Olink_df.shape

(53013, 2924)

In [9]:
# 提取非eid列（蛋白质表达量列）
protein_cols = Olink_df.columns[1:]  # 第一列是eid

In [10]:
# 找出蛋白质表达量全为NaN的病人行
all_nan_mask = Olink_df[protein_cols].isna().all(axis=1)

In [11]:
# 过滤掉全NaN的病人
Olink_df_filtered = Olink_df[~all_nan_mask].copy()

In [12]:
Olink_df_filtered.shape

(53013, 2924)

In [13]:
# 2. 用各列最小值填补NaN
# 计算各列最小值（排除NaN）
col_min_values = Olink_df_filtered[protein_cols].min()

# 填补NaN（使用广播机制）
Olink_df_imputed = Olink_df_filtered.copy()
Olink_df_imputed[protein_cols] = Olink_df_filtered[protein_cols].fillna(col_min_values)

In [14]:
Olink_df_imputed.head(4)

,eid,olink_instance_0.a1bg,olink_instance_0.aamdc,olink_instance_0.aarsd1,olink_instance_0.abca2,olink_instance_0.abhd14b,olink_instance_0.abl1,olink_instance_0.abo,olink_instance_0.abraxas2,olink_instance_0.acaa1,...,olink_instance_0.zfyve19,olink_instance_0.zhx2,olink_instance_0.znf174,olink_instance_0.znf75d,olink_instance_0.znf830,olink_instance_0.znrd2,olink_instance_0.znrf4,olink_instance_0.zp3,olink_instance_0.zp4,olink_instance_0.zpr1
0,1002133,0.0957,0.59795,1.33215,-0.6441,0.76325,0.37840,0.5446,0.4682,0.21920,...,-0.2728,0.1954,-0.2586,-0.0127,0.02350,-0.26245,-0.1236,-6.0773,-0.0136,0.4131
1,1002201,-0.0473,0.39585,0.26585,0.0604,1.07765,1.39770,0.5830,1.0740,0.75625,...,0.9153,-0.0274,-0.3048,-0.8814,-0.53420,1.12255,-0.5537,-5.1443,-0.1713,-0.5605
2,1002534,-0.2239,-0.04545,-0.07580,0.2499,-0.48380,0.45780,-0.0678,-0.1641,-0.29010,...,-0.8164,0.2514,0.4768,-0.4894,-0.21715,0.00550,-0.0715,-5.9309,-0.2436,-0.4368
3,1003548,0.0255,-1.97485,-4.52005,-1.5961,-5.09210,-2.67535,-0.2824,-2.4128,-6.44710,...,1.1505,0.1681,0.2402,-5.0317,0.42805,0.55870,0.4882,-7.2245,-0.0600,0.7822

In [15]:
# 将数据框从宽格式转换为长格式
Olink_long_df = pd.melt(Olink_df_imputed, id_vars=['eid'], var_name='protein_name', value_name='protein_expression')

print(Olink_long_df)

               eid           protein_name  protein_expression
0          1002133  olink_instance_0.a1bg              0.0957
1          1002201  olink_instance_0.a1bg             -0.0473
2          1002534  olink_instance_0.a1bg             -0.2239
3          1003548  olink_instance_0.a1bg              0.0255
4          1003599  olink_instance_0.a1bg              0.2003
...            ...                    ...                 ...
154956994  6021692  olink_instance_0.zpr1              1.2116
154956995  6021914  olink_instance_0.zpr1             -0.0460
154956996  6022081  olink_instance_0.zpr1             -0.6499
154956997  6022213  olink_instance_0.zpr1             -0.1758
154956998  6022247  olink_instance_0.zpr1              1.4512

[154956999 rows x 3 columns]

In [16]:
53013 * 2923

154956999

In [17]:
print(Olink_long_df['protein_expression'].min())
print(Olink_long_df['protein_expression'].max())

-9.66045
13.4435

In [18]:
Olink_long_df['protein_expression'].describe()

count    1.549570e+08
mean    -2.591068e-01
std      1.175336e+00
min     -9.660450e+00
25%     -4.430000e-01
50%     -5.570000e-02
75%      2.548500e-01
max      1.344350e+01
Name: protein_expression, dtype: float64

In [19]:
Olink_long_df = Olink_long_df.dropna(subset=['protein_expression'])

In [20]:
Olink_long_df.shape

(154956999, 3)

In [21]:
# 保存
import json
with open('../Data/keys.json', 'r') as f:
    keys = json.load(f)

In [22]:
Olink_long_df['eid'] = Olink_long_df['eid'].astype(str)

In [23]:
print(Olink_long_df['eid'].dtype)

object

In [24]:
Olink_long_df_filtered = Olink_long_df[Olink_long_df['eid'].isin(keys)]

In [25]:
Olink_long_df_filtered.shape

(79783285, 3)

In [26]:
Olink_long_df_filtered.head(2)

       eid           protein_name  protein_expression
0  1002133  olink_instance_0.a1bg              0.0957
1  1002201  olink_instance_0.a1bg             -0.0473

In [27]:
# 按 protein_name 分组，对每个分组内按 protein_expression 降序排序
sorted_Olink_df = Olink_long_df_filtered.sort_values(['protein_name', 'protein_expression'], ascending=[True, False])

In [28]:
# 对每个分组保留前 20 行
result_Olink_df = sorted_Olink_df.groupby('protein_name').head(300)

print(result_Olink_df)

               eid           protein_name  protein_expression
41646      5716376  olink_instance_0.a1bg              1.2971
41119      5483528  olink_instance_0.a1bg              1.2406
18327      4653833  olink_instance_0.a1bg              1.1291
20457      5646577  olink_instance_0.a1bg              0.9332
49457      4381504  olink_instance_0.a1bg              0.9255
...            ...                    ...                 ...
154934311  5266466  olink_instance_0.zpr1              3.8144
154940016  3016533  olink_instance_0.zpr1              3.8123
154928642  2606518  olink_instance_0.zpr1              3.8109
154940513  3269174  olink_instance_0.zpr1              3.8046
154924712  5769968  olink_instance_0.zpr1              3.8043

[876900 rows x 3 columns]

In [29]:
result_Olink_df.shape

(876900, 3)

In [30]:
len(set(result_Olink_df['eid']))

27268

In [31]:
result_Olink_df = result_Olink_df.rename(columns={'eid':'node1', 'protein_name':'node2', 'protein_expression':'relationship'})

In [32]:
result_Olink_df['relationship'] = 1.0

In [33]:
result_Olink_df['node2'] = result_Olink_df['node2'].str.replace("olink_instance_0.", "", regex=False)

In [34]:
result_Olink_df.head(2)

         node1 node2  relationship
41646  5716376  a1bg           1.0
41119  5483528  a1bg           1.0

## Add protein top ied

In [35]:
merged_df_long = pd.read_csv('../Data/merged_df_add_filtered_disGeNet_disease_disease_PPI.txt', sep='\t', dtype={'node1':str, 'node2': str, 'relationship': float})

In [36]:
merged_df_long.head(3)

     node1  node2  relationship
0  1002133   I802           1.0
1  1002133  M1997           1.0
2  1002133   M201           1.0

In [37]:
# add protein top eid
merged_df_add_proteinTopEid = pd.concat([merged_df_long, result_Olink_df], ignore_index=True)

In [38]:
merged_df_add_proteinTopEid.shape

(2916953, 3)

In [39]:
merged_df_add_proteinTopEid = merged_df_add_proteinTopEid.drop_duplicates()

In [40]:
merged_df_add_proteinTopEid.shape

(2672215, 3)

In [41]:
# 保存为以制表符分隔的文本文件 
merged_df_add_proteinTopEid.to_csv('../Data/merged_df_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid.txt', sep='\t', na_rep='nan', index=False)

## prepare input data

In [42]:
import numpy as np
import os
from scipy.sparse import csr_matrix
from utils import N2V
import pandas as pd
from fastnode2vec import Graph, Node2Vec 
import pickle
import json

/home/llma/anaconda3/envs/GAT/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [43]:
adj_path = '../Data/merged_df_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid.txt'

In [44]:
merged_df = pd.read_csv(adj_path, sep='\t',
    dtype={'node1': str, 'node2': str, 'relationship': float} )
merged_df.head(2)

     node1  node2  relationship
0  1002133   I802           1.0
1  1002133  M1997           1.0

In [45]:
adj_matrix = pd.read_csv(adj_path, sep='\t',
    dtype={'node1': str, 'node2': str, 'relationship': float})
# 构建图所需的边列表
edges = [(row['node1'], row['node2'], row['relationship']) for _, row in adj_matrix.iterrows()]

# 构建图
graph = Graph(edges, directed=False, weighted=True)

In [46]:
graph.node_names

array(['1002133', 'I802', 'M1997', ..., 'Z90', 'Z994', 'Z99'],
      dtype='<U86')

In [47]:
graph

In [48]:
# 保存图对象
with open('../Data/graph_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid.pkl', 'wb') as f:
    pickle.dump(graph, f)

In [49]:
with open('../Data/gpt_protein_embeddings_dict.pkl', 'rb') as f:
    protein_embeddings_dict = pickle.load(f)

In [50]:
with open('../Data/gpt_embeddings_dict.pkl', 'rb') as f:
    embeddings_dict = pickle.load(f)

In [51]:
with open('../Data/metabolite_embeddings_dict.pkl', 'rb') as f:
    metabolite_embeddings_dict = pickle.load(f)

In [52]:
with open('../Data/icd10_embeddings_dict.pkl', 'rb') as f:
    icd10_embeddings_dict = pickle.load(f)

In [53]:
# 创建新字典，保留原始字典不变
merged_dict = {**protein_embeddings_dict, **embeddings_dict, **metabolite_embeddings_dict, **icd10_embeddings_dict}

In [54]:
# 提取所有键并保持顺序（Python 3.7+ 字典保持插入顺序）
keys = list(graph.node_names)

# 将字典值转换为NumPy矩阵（每行一个向量）
matrix = np.array([merged_dict[key] for key in keys])

# 检查矩阵形状
print("矩阵形状:", matrix.shape)  # 输出: (47626, 向量维度)

# 示例：查看前3行
print("前3行:\n", matrix[:3])

矩阵形状: (49373, 1536)
前3行:
 [[-0.0182373  -0.02098356  0.02359651 ... -0.01561102 -0.01053844
  -0.00612576]
 [-0.02499108 -0.0067757   0.02219337 ... -0.02719697 -0.01021568
  -0.02587882]
 [ 0.00454228 -0.00239301  0.02163428 ... -0.01282641 -0.01000684
  -0.05185902]]

In [55]:
# 保存
with open('../Data/keys_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid.json', 'w') as f:
    json.dump(keys, f)

In [56]:
np.save('../Data/UKB_node_feature_gpt_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid.npy', matrix)