In [1]:
import pandas as pd

In [2]:
NMR_df = pd.read_csv("../Data/NMR.csv")

In [3]:
NMR_df.shape

(502131, 252)

In [4]:
NMR_df['participant.eid'] = NMR_df['participant.eid'].astype(str)

In [5]:
NMR_df.head(2)

,participant.eid,participant.p20280_i0,participant.p20281_i0,participant.p23400_i0,participant.p23401_i0,participant.p23402_i0,participant.p23403_i0,participant.p23404_i0,participant.p23405_i0,participant.p23406_i0,...,participant.p23639_i0,participant.p23640_i0,participant.p23641_i0,participant.p23642_i0,participant.p23643_i0,participant.p23644_i0,participant.p23645_i0,participant.p23646_i0,participant.p23647_i0,participant.p23648_i0
0,1000053,2.9721,0.282259,3.8459,2.9413,1.5075,0.83349,1.9998,1.4338,0.90459,...,49.941,40.646,33.031,7.6145,9.413,58.373,34.427,24.479,9.9478,7.2007
1,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
NMR_df = NMR_df.rename(columns={'participant.eid': 'eid'})

In [7]:
NMR_df.head(4)

,eid,participant.p20280_i0,participant.p20281_i0,participant.p23400_i0,participant.p23401_i0,participant.p23402_i0,participant.p23403_i0,participant.p23404_i0,participant.p23405_i0,participant.p23406_i0,...,participant.p23639_i0,participant.p23640_i0,participant.p23641_i0,participant.p23642_i0,participant.p23643_i0,participant.p23644_i0,participant.p23645_i0,participant.p23646_i0,participant.p23647_i0,participant.p23648_i0
0,1000053,2.97210,0.282259,3.8459,2.9413,1.5075,0.83349,1.9998,1.4338,0.90459,...,49.941,40.646,33.031,7.6145,9.4130,58.373,34.427,24.479,9.9478,7.2007
1,1000122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000148,5.79763,0.407074,6.5412,4.7789,2.1906,0.94260,3.9233,2.5883,1.76230,...,46.042,50.345,40.931,9.4135,3.6133,56.367,40.318,29.758,10.5600,3.3156
3,1000150,5.32703,0.436711,4.2633,3.1027,1.4863,0.82748,1.9775,1.6164,1.16060,...,49.781,40.044,32.094,7.9500,10.1750,58.825,32.954,23.077,9.8765,8.2210

In [8]:
# 提取非eid列
NMR_cols = NMR_df.columns[1:]  # 第一列是eid

In [9]:
# 找出表达量全为NaN的病人行
all_nan_mask = NMR_df[NMR_cols].isna().all(axis=1)

In [10]:
# 过滤掉全NaN的病人
NMR_df_filtered = NMR_df[~all_nan_mask].copy()

In [11]:
NMR_df_filtered.shape

(274236, 252)

In [12]:
# 2. 用各列最小值填补NaN
# 计算各列最小值（排除NaN）
col_min_values = NMR_df_filtered[NMR_cols].min()

# 填补NaN（使用广播机制）
NMR_df_imputed = NMR_df_filtered.copy()
NMR_df_imputed[NMR_cols] = NMR_df_filtered[NMR_cols].fillna(col_min_values)

In [13]:
NMR_df_imputed.head(4)

,eid,participant.p20280_i0,participant.p20281_i0,participant.p23400_i0,participant.p23401_i0,participant.p23402_i0,participant.p23403_i0,participant.p23404_i0,participant.p23405_i0,participant.p23406_i0,...,participant.p23639_i0,participant.p23640_i0,participant.p23641_i0,participant.p23642_i0,participant.p23643_i0,participant.p23644_i0,participant.p23645_i0,participant.p23646_i0,participant.p23647_i0,participant.p23648_i0
0,1000053,2.97210,0.282259,3.8459,2.9413,1.5075,0.83349,1.9998,1.4338,0.90459,...,49.941,40.646,33.031,7.6145,9.4130,58.373,34.427,24.479,9.9478,7.2007
2,1000148,5.79763,0.407074,6.5412,4.7789,2.1906,0.94260,3.9233,2.5883,1.76230,...,46.042,50.345,40.931,9.4135,3.6133,56.367,40.318,29.758,10.5600,3.3156
3,1000150,5.32703,0.436711,4.2633,3.1027,1.4863,0.82748,1.9775,1.6164,1.16060,...,49.781,40.044,32.094,7.9500,10.1750,58.825,32.954,23.077,9.8765,8.2210
5,1000199,5.73236,0.384780,5.8360,3.8974,1.8090,0.81030,3.0389,2.0885,1.93860,...,46.181,48.841,39.874,8.9677,4.9780,58.066,37.815,28.076,9.7397,4.1188

In [14]:
# 将数据框从宽格式转换为长格式
NMR_long_df = pd.melt(NMR_df_imputed, id_vars=['eid'], var_name='NMR_name', value_name='NMR_expression')

print(NMR_long_df)

              eid               NMR_name  NMR_expression
0         1000053  participant.p20280_i0         2.97210
1         1000148  participant.p20280_i0         5.79763
2         1000150  participant.p20280_i0         5.32703
3         1000199  participant.p20280_i0         5.73236
4         1000428  participant.p20280_i0         5.26226
...           ...                    ...             ...
68833231  6022081  participant.p23648_i0         5.61880
68833232  6022102  participant.p23648_i0         5.26160
68833233  6022141  participant.p23648_i0         4.78620
68833234  6022197  participant.p23648_i0         3.85360
68833235  6022252  participant.p23648_i0         5.26830

[68833236 rows x 3 columns]

In [15]:
NMR_df_imputed.shape

(274236, 252)

In [16]:
274236 * 251

68833236

In [17]:
# 移除 NMR_expression 列中值为 NaN 的行
NMR_long_df = NMR_long_df.dropna(subset=['NMR_expression'])

print(NMR_long_df)

              eid               NMR_name  NMR_expression
0         1000053  participant.p20280_i0         2.97210
1         1000148  participant.p20280_i0         5.79763
2         1000150  participant.p20280_i0         5.32703
3         1000199  participant.p20280_i0         5.73236
4         1000428  participant.p20280_i0         5.26226
...           ...                    ...             ...
68833231  6022081  participant.p23648_i0         5.61880
68833232  6022102  participant.p23648_i0         5.26160
68833233  6022141  participant.p23648_i0         4.78620
68833234  6022197  participant.p23648_i0         3.85360
68833235  6022252  participant.p23648_i0         5.26830

[68833236 rows x 3 columns]

In [18]:
# 保存
import json
with open('../Data/keys.json', 'r') as f:
    keys = json.load(f)

In [19]:
NMR_long_df['eid'] = NMR_long_df['eid'].astype(str)

In [20]:
NMR_long_df.shape

(68833236, 3)

In [21]:
NMR_long_df_filtered = NMR_long_df[NMR_long_df['eid'].isin(keys)]

In [22]:
NMR_long_df_filtered.shape

(6851045, 3)

In [23]:
NMR_long_df_filtered.head(2)

        eid               NMR_name  NMR_expression
26  1002133  participant.p20280_i0         4.06436
28  1002201  participant.p20280_i0         5.62458

In [24]:
# 按 NMR_name 分组，对每个分组内按 NMR_expression 降序排序
sorted_NMR_df = NMR_long_df_filtered.sort_values(['NMR_name', 'NMR_expression'], ascending=[True, False])

In [25]:
# 对每个分组保留前 300 行
result_NMR_df = sorted_NMR_df.groupby('NMR_name').head(300)

print(result_NMR_df)

              eid               NMR_name  NMR_expression
168304    1367889  participant.p20280_i0         26.3716
127879    2679237  participant.p20280_i0         25.2719
173922    1875240  participant.p20280_i0         25.0894
236502    2603346  participant.p20280_i0         24.0926
228214    1847793  participant.p20280_i0         22.5798
...           ...                    ...             ...
68736808  2229653  participant.p23648_i0          8.1471
68633068  2775031  participant.p23648_i0          8.1449
68635782  3028140  participant.p23648_i0          8.1446
68652786  4571957  participant.p23648_i0          8.1446
68561951  1278042  participant.p23648_i0          8.1436

[75300 rows x 3 columns]

In [26]:
result_NMR_df.shape

(75300, 3)

In [27]:
len(set(result_NMR_df['eid']))

11533

In [28]:
result_NMR_df = result_NMR_df.rename(columns={'eid':'node1', 'NMR_name':'node2', 'NMR_expression':'relationship'})

In [29]:
result_NMR_df['relationship'] = 1.0

In [30]:
result_NMR_df['node2'] = result_NMR_df['node2'].str.replace("participant.", "", regex=False)

In [31]:
result_NMR_df.head(2)

          node1      node2  relationship
168304  1367889  p20280_i0           1.0
127879  2679237  p20280_i0           1.0

In [32]:
NMR_name_description_mapping = pd.read_csv('../Data/NMR_name_description_mapping.csv',
                                           encoding='utf-8')

In [33]:
NMR_name_description_mapping.head(2)

    NMR_name                                    full_name
0  p20280_i0                 Glucose-lactate | Instance 0
1  p20281_i0  Spectrometer-corrected alanine | Instance 0

In [34]:
NMR_name_description_mapping['full_name'] = NMR_name_description_mapping['full_name'].str.replace(" | Instance 0", "", regex=False)

In [35]:
NMR_name_description_mapping.head(2)

    NMR_name                       full_name
0  p20280_i0                 Glucose-lactate
1  p20281_i0  Spectrometer-corrected alanine

In [36]:
# 创建一个映射字典
name_mapping = dict(zip(NMR_name_description_mapping['NMR_name'], 
                        NMR_name_description_mapping['full_name']))

In [37]:
# 定义一个函数来执行映射
def map_node2(name):
    return name_mapping.get(name, name)  # 如果找不到映射，返回原值

In [38]:
# 应用映射到node2列
result_NMR_df['node2'] = result_NMR_df['node2'].apply(map_node2)

In [39]:
# 查看结果
print(result_NMR_df.head(2))
print(result_NMR_df.tail(2))

          node1            node2  relationship
168304  1367889  Glucose-lactate           1.0
127879  2679237  Glucose-lactate           1.0
            node1                                              node2  \
68652786  4571957  Triglycerides to Total Lipids in Small HDL per...
68561951  1278042  Triglycerides to Total Lipids in Small HDL per...

          relationship
68652786           1.0
68561951           1.0

## Add metabolite top ied

In [40]:
merged_df_long = pd.read_csv('../Data/merged_df_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid.txt', sep='\t', dtype={'node1':str, 'node2': str, 'relationship': float})

In [41]:
merged_df_long.head(3)

     node1  node2  relationship
0  1002133   I802           1.0
1  1002133  M1997           1.0
2  1002133   M201           1.0

In [42]:
# add metabolite top eid
merged_df_add_metaboliteTopEid = pd.concat([merged_df_long, result_NMR_df], ignore_index=True)

In [43]:
merged_df_add_metaboliteTopEid.shape

(2747515, 3)

In [44]:
merged_df_add_metaboliteTopEid = merged_df_add_metaboliteTopEid.drop_duplicates()

In [45]:
merged_df_add_metaboliteTopEid.shape

(2740858, 3)

In [46]:
# 保存为以制表符分隔的文本文件 
merged_df_add_metaboliteTopEid.to_csv('../Data/merged_df_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid_metaboliteTopEid.txt', sep='\t', na_rep='nan', index=False)

## prepare input data

In [47]:
import numpy as np
import os
from scipy.sparse import csr_matrix
from utils import N2V
import pandas as pd
from fastnode2vec import Graph, Node2Vec 
import pickle
import json

/home/llma/anaconda3/envs/GAT/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [48]:
adj_path = '../Data/merged_df_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid_metaboliteTopEid.txt'

In [49]:
merged_df = pd.read_csv(adj_path, sep='\t',
    dtype={'node1': str, 'node2': str, 'relationship': float} )
merged_df.head(2)

     node1  node2  relationship
0  1002133   I802           1.0
1  1002133  M1997           1.0

In [ ]:
adj_matrix = pd.read_csv(adj_path, sep='\t',
    dtype={'node1': str, 'node2': str, 'relationship': float})
# 构建图所需的边列表
edges = [(row['node1'], row['node2'], row['relationship']) for _, row in adj_matrix.iterrows()]

# 构建图
graph = Graph(edges, directed=False, weighted=True)

In [ ]:
graph.node_names

In [ ]:
graph

In [ ]:
# 保存图对象
with open('../Data/graph_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid_metaboliteTopEid.pkl', 'wb') as f:
    pickle.dump(graph, f)

In [ ]:
with open('../Data/gpt_protein_embeddings_dict.pkl', 'rb') as f:
    protein_embeddings_dict = pickle.load(f)

In [ ]:
with open('../Data/gpt_embeddings_dict.pkl', 'rb') as f:
    embeddings_dict = pickle.load(f)

In [ ]:
with open('../Data/metabolite_embeddings_dict.pkl', 'rb') as f:
    metabolite_embeddings_dict = pickle.load(f)

In [ ]:
with open('../Data/icd10_embeddings_dict.pkl', 'rb') as f:
    icd10_embeddings_dict = pickle.load(f)

In [ ]:
# 创建新字典，保留原始字典不变
merged_dict = {**protein_embeddings_dict, **embeddings_dict, **metabolite_embeddings_dict, **icd10_embeddings_dict}

In [ ]:
# 提取所有键并保持顺序（Python 3.7+ 字典保持插入顺序）
keys = list(graph.node_names)

# 将字典值转换为NumPy矩阵（每行一个向量）
matrix = np.array([merged_dict[key] for key in keys])

# 检查矩阵形状
print("矩阵形状:", matrix.shape)  # 输出: (47626, 向量维度)

# 示例：查看前3行
print("前3行:\n", matrix[:3])

In [ ]:
# 保存
with open('../Data/keys_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid_metaboliteTopEid.json', 'w') as f:
    json.dump(keys, f)

In [ ]:
np.save('../Data/UKB_node_feature_gpt_add_filtered_disGeNet_disease_disease_PPI_proteinTopEid_metaboliteTopEid.npy', matrix)